
//keyframe floating and falling animation
@keyframes fall{
        0% {
            opacity: 90%;
        }

        25% {
            rotate: -10deg;
        }

        50% {
            opacity: 75%; rotate: 1 deg;
        }


        100% {
            transform: translateY(150vh);
            opacity: 0;
            rotate: 1deg;
        }
};