//color variables
$light-green: #E9F1E4;
$green: #759478;
$dark-green: #456147;

//font variables
$primary-font: "Roboto", sans-serif;
$header-font: "Londrina Shadow", "Roboto", sans-serif;
$font-col-light: $light-green;
$font-col-black: black;
$primary-fontsize: 1.4em;
$h2-size: 1.8em;

//mixin for containers
@mixin container($size1, $size2, $radius: 10) {
    width: $size1;
    height: $size2;
    border-radius: $radius;
}

@mixin headerFooter {
    background-color: #759478;
    color: $font-col-light;
};