@use "base";
@use "layout";

body {
    background-color: base.$light-green;
    font-family: base.$primary-font;
}



button:hover {
    box-shadow: none;
    text-decoration: underline 2px;
    cursor: pointer;
}

header {
    @include base.headerFooter;
    @include layout.flex;
    font-family: base.$header-font;
    font-size: 3.5em;

    img {
        max-width: 100%;
    }
}

main {
    max-width: 80%;
    margin: auto;

    h2 {
        text-align: center
    }

    button {
        display: block;
        margin: 0 auto;
        @include base.container(9em, 2.5em);
        background-color: base.$dark-green;
        color: base.$light-green;
        font-size: base.$primary-fontsize;
        box-shadow: rgba(0, 0, 0, 0.554) 0 3px 3px 0;
    }
}

footer {
    @include base.headerFooter;
    @include layout.flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;

    p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.4em;
    }
}

ul {
    font-size: 1.1em;

    li {
        margin-bottom: 1.1em;
    }

    a {
        color: base.$font-col-light;
    }
}

.regionsContainer {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: base.$dark-green;
    border-radius: 2em;
    padding: 1.2em;
    margin-top: 2em;

    li {
        margin: 0.6em;
        font-size: base.$primary-fontsize;
    }

    li:hover {
        text-decoration: underline 2px;
        cursor: pointer;
    }

    h3 {
        color: base.$light-green;
        text-align: center;
        font-size: base.$primary-fontsize;
        letter-spacing: 1px;
    }
}

#allRegions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: base.$light-green;
}

.geoRegionCon {
    font-size: base.$h2-size;

    p {
        text-transform: uppercase;
        text-align: center;
        font-size: base.$h2-size;
    }

    ;

    .errorMessage {
        text-transform: none;
        font-size: 1em;
    };

    
};

#barChart {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
};

.pollenContainer {
    position: relative;
    width: 100%;
    z-index: 1;

}

;

.pollen1 {
    @include base.pollenImg(5%, 0s, 60s);
}

;


.pollen2 {
    @include base.pollenImg(32%, 40s, 60s);
}

.pollen3 {
    @include base.pollenImg(60%, 5s, 60s);
}


.pollen4 {
    @include base.pollenImg(70%, 30s, 60s);
}

;



.pollen5 {
    @include base.pollenImg(90%, 20s, 60s);
}

;